.navBar {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%; 
}

.title {
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.navIcon {
    width: 2.5rem;
    margin-top: 1rem;
    background: transparent;
    border: none;
}

.navIcon:hover {
    cursor: pointer;
}

.searchBar {
    margin-top: 0.75rem;
    margin-right: 0.5rem;
}